<div class="container-75 m-3">
  <div class="row">
    <div class="card border-primary">
      <div class="card-header">Active Tasks</div>
      <div *ngIf="tasks.length === 0; else taskList">
        <p>No tasks available</p>
      </div>

      <ng-template #taskList>
        <div class="row justify-content-around">
          <div class="col-12 col-md-3 card border-primary m-2 p-3" *ngFor="let task of tasks">
            <div class="task-card ">
              <h3>{{ task.name }}</h3>
              <p>{{ task.description }}</p>
              <p>Start Date: {{ task.init_date | date }}</p>
              <p>End Date: {{ task.end_date | date }}</p>
              <!-- Add more task information as needed -->

              <!-- Buttons for starting and finishing tasks -->
              <button class="btn btn-primary m-1" (click)="startTask(task)">
                Start Task
              </button>
              <button class="btn btn-danger m-1" (click)="finishTask(task)">
                Finish Task
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
